In [1]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('crime_by_district.csv')

In [2]:
df.head(5)

,STATE/UT,DISTRICT,Year,Murder,Assault on women,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
0,ANDHRA PRADESH,ADILABAD,2001,0,1,4,0,0,0,3,0,15,32
1,ANDHRA PRADESH,ANANTAPUR,2001,0,4,0,0,0,0,49,21,0,53
2,ANDHRA PRADESH,CHITTOOR,2001,3,3,0,0,0,0,38,36,0,34
3,ANDHRA PRADESH,CUDDAPAH,2001,0,3,0,0,0,0,20,52,0,25
4,ANDHRA PRADESH,EAST GODAVARI,2001,1,3,0,0,0,0,3,12,63,7

In [3]:
df.columns

Index(['STATE/UT', 'DISTRICT', 'Year', 'Murder', 'Assault on women',
       'Kidnapping and Abduction', 'Dacoity', 'Robbery', 'Arson', 'Hurt',
       'Prevention of atrocities (POA) Act',
       'Protection of Civil Rights (PCR) Act', 'Other Crimes Against SCs'],
      dtype='object')

In [4]:
df.describe(include = 'all')

,STATE/UT,DISTRICT,Year,Murder,Assault on women,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
count,9841,9841,9841.000000,9841.000000,9841.000000,9841.000000,9841.000000,9841.000000,9841.000000,9841.000000,9841.000000,9841.000000,9841.000000
unique,70,832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,UTTAR PRADESH,TOTAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,878,456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2007.161671,1.742912,3.656437,1.078142,0.089422,0.206280,0.590590,10.985875,28.155472,0.880398,35.868001
std,NaN,NaN,3.755454,11.887530,19.543118,8.343824,0.716764,1.466608,3.697031,52.538202,160.208471,8.553610,209.896023
min,NaN,NaN,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,2004.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,2007.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.000000
75%,NaN,NaN,2010.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,5.000000,15.000000,0.000000,20.000000
max,NaN,NaN,2013.000000,423.000000,412.000000,363.000000,26.000000,83.000000,178.000000,1252.000000,5584.000000,459.000000,5339.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9841 entries, 0 to 9840
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   STATE/UT                              9841 non-null   object
 1   DISTRICT                              9841 non-null   object
 2   Year                                  9841 non-null   int64
 3   Murder                                9841 non-null   int64
 4   Assault on women                      9841 non-null   int64
 5   Kidnapping and Abduction              9841 non-null   int64
 6   Dacoity                               9841 non-null   int64
 7   Robbery                               9841 non-null   int64
 8   Arson                                 9841 non-null   int64
 9   Hurt                                  9841 non-null   int64
 10  Prevention of atrocities (POA) Act    9841 non-null   int64
 11  Protection of Civil Rights (PCR) Act  9841 non-null   int64
 12  Other Crimes Against SCs              9841 non-null   int64
dtypes: int64(11), object(2)
memory usage: 999.6+ KB

In [10]:
df.duplicated().sum()

2

In [14]:
duplicate_rows = df[df.duplicated]
duplicate_rows

,STATE/UT,DISTRICT,Year,Murder,Assault on women,Kidnapping and Abduction,Dacoity,Robbery,Arson,Hurt,Prevention of atrocities (POA) Act,Protection of Civil Rights (PCR) Act,Other Crimes Against SCs
205,JAMMU & KASHMIR,ANANTNAG,2001,0,0,0,0,0,0,0,0,0,0
3344,NAGALAND,TOTAL,2005,0,0,0,0,0,0,0,0,0,0

In [15]:
df = df.drop_duplicates()
df.duplicated().sum()

0

In [16]:
df.nunique()

STATE/UT                                 70
DISTRICT                                832
Year                                     13
Murder                                   81
Assault on women                        118
Kidnapping and Abduction                 60
Dacoity                                  16
Robbery                                  24
Arson                                    50
Hurt                                    245
Prevention of atrocities (POA) Act      326
Protection of Civil Rights (PCR) Act     75
Other Crimes Against SCs                391
dtype: int64

In [17]:
df = df.map(lambda x: x.lower() if isinstance(x, str) else x)
df['STATE/UT'].unique()

array(['andhra pradesh', 'arunachal pradesh', 'assam', 'bihar',
       'chhattisgarh', 'goa', 'gujarat', 'haryana', 'himachal pradesh',
       'jammu & kashmir', 'jharkhand', 'karnataka', 'kerala',
       'madhya pradesh', 'maharashtra', 'manipur', 'meghalaya', 'mizoram',
       'nagaland', 'odisha', 'punjab', 'rajasthan', 'sikkim',
       'tamil nadu', 'tripura', 'uttar pradesh', 'uttarakhand',
       'west bengal', 'a & n islands', 'chandigarh', 'd & n haveli',
       'daman & diu', 'delhi', 'lakshadweep', 'puducherry', 'a&n islands',
       'd&n haveli', 'delhi ut'], dtype=object)

In [18]:
cols =['Murder', 'Assault on women', 'Kidnapping and Abduction',
       'Dacoity', 'Robbery', 'Arson', 'Hurt',
       'Prevention of atrocities (POA) Act',
       'Protection of Civil Rights (PCR) Act', 'Other Crimes Against SCs']

total = df[cols].sum()
total

Murder                                   17152
Assault on women                         35983
Kidnapping and Abduction                 10610
Dacoity                                    880
Robbery                                   2030
Arson                                     5812
Hurt                                    108112
Prevention of atrocities (POA) Act      277078
Protection of Civil Rights (PCR) Act      8664
Other Crimes Against SCs                352977
dtype: int64